


<h4>News Feeds</h4>
<div class="row">
 {{!-- {{content}} --}}
    {{#each content}}
    <div class="col s12 m4">
        <div class="card">
           
            <div class="card-content center-align">
                title {{title}}<br>
                description {{stripTags (getShortComment description)}}
                <br>
                <div class="chip">
                    <img src={{image}} alt="">
                    <a href="/content/user/{{userId}}">{{name}}</a>
                </div>
                <div class="card-action center-align">
                    <a href="/content/public/{{_id}}" class="btn gray">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p>
    <h4>No News Feed Founnd</h4>
    </p>

    {{/each}}

</div>
